.card {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    gap: 20px;
}

/* Card with colors based on level */
.card-container {
    border-radius: 10px;
    padding: 3%;
}
.card-Trainee {
    background-color: var(--colorYellowTrainee);
}

.card-Junior {
    background-color: var(--colorPurpleJunior);
}

.card-Semi-senior {
    background-color: var(--colorGreenSemiSenior);
}

.card-Senior {
    color: var(--colorWhiteFont);
    background-color: var(--colorBlackSenior);
}


.card-header {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header img {
    border-radius: 50%;
    width: 30%;
    margin-bottom: 20px;
}


.card-extra-information {
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.card-extra-information span{
    font-weight: 700;
}
.card-extra-information::before {
    content: "";
    display: block;
    border-top: 1px solid white;
    margin-bottom: 10px; /* Adjust as needed */
  }
