:root {

  font-family: 'Montserrat';

  background-color: var(--colorWhiteBackground);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --colorWhiteBackground: #f1f1f1;
  --colorBlackBackground: #1f1f1f;
  --colorBlackFont: #1b1b1b;
  --colorWhiteFont: #ffffff;
  --colorBlue: #0A66C2;
  
    /* Cards colors */
  --colorYellowTrainee: #F7FB8F;
  --colorPurpleJunior: #CB9BFB;
  --colorGreenSemiSenior: #5FCCA0;
  --colorBlackSenior: #0A0A0A
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 0 10% 0 10%;
}